<div
  class="group-test-block group-test-block--{{ block.id }} layout layout--{{ block.settings.direction }} color-{{ block.settings.color_scheme }}" {{ block.shopify_attributes }}>
  Hello

  {% for field in shop.metaobjects.show_date.values %}
    {{ field.date.value }}
    {% assign closeDateSec = field.date.value | date: "%s" | minus: 0 %}
  {% endfor %}

  {% assign nowDateSec = "now" | date: "%s" | minus: 0 %}
  {{ nowDateSec }} {{ closeDateSec }}
  {% if nowDateSec < closeDateSec %}
    <p>TEST</p>
  {% endif %}

  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Group Test",
  "tag": null,
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "paragraph",
      "content": "Width is automatically optimized for mobile."
    }
  ],
  "presets": [
      {
        "name": "GroupTest"
      }
  ]
}
{% endschema %}
